body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.password-container {
    background-color: rgba(205, 45, 245, 0.526);
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
    text-align: center;

}

.input-container {
    border: solid 2px black;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;

}
input::placeholder {
    letter-spacing: 0px;
}
i {
    cursor: pointer;
    opacity: .3;
    font-size: 26px;
    transition: all .55s ease;
}
i:hover {
    opacity: 0.7;
}
.btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
    transition: all .55s ease;
}
.btn:hover {
background-color: green;
}
.btn:active {
    transform: scale(.95);
}

.alert-container {
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    right:20px;
    bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: .4s;
}

.active.alert-container {
    right: -300px;
}